<li class='film-list__item'>
  <div class="film-list__thumb">
    <img
      src="{{}}"
      alt="{{}}"
      class="film-list__image"
    />
   </div>
  <p class='film-list__name'>{{abracadabra}}</p>
  <div class='film-list__description'>
    <p class='film-list__genre'>{{documentary, drama}} | {{2019}}</p>
    <p class='film-list__raiting'>{{8.9}}</p>
  </div>
</li>