$accent-color: #ff6b08;
$main-bg-color: #e5e5e5;
$second-bg-color: #f7f7f7;
$main-text-color: #ffffff;
$second-text-color: #545454;
$third-text-color: #000000;

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: $main-bg-color;
  color: $main-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0px;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and(min-width: 320px) {
    // width: 280px;
    width: 320px;
  }
  @media screen and(min-width: 768px) {
    // width: 704px;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and(min-width: 1024px) {
    // width: 960px;
    width: 1024px;
  }
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  position: absolute;
}
