.main {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
}

.film-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    margin: -16px, -8px, -16px, 0px;
  }
}

.film-list__item {
  @media screen and (min-width: 768px) {
    margin: 16px;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.film-list__item:not(:first-child) {
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
}

.film-list__thumb {
  width: 280px;
  height: 402px;
  border-radius: 5px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1024px) {
    width: 309px;
    height: 449px;
  }
}

.film-list__name {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $third-text-color;
  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }
}

.film-list__description {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.film-list__genre {
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $accent-color;
}

.film-list__raiting {
  margin-left: 8px;
  padding: 1px;
  text-align: center;
  width: 36px;
  height: 16px;
  color: $main-text-color;
  background-color: $accent-color;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  border-radius: 5px;
}
