<div class="backdrop">
  <div class="modal">
    <button class="modal__btn">
      <svg class="modal__svg" width="30" height="30">
        <use href="../src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="film">
      <h2 class="film-tittle">abracadabra</h2>
      <ul class="film__property-list">
        <li class="film__property">Vote / Votes</li>
        <li class="film__property">Popularity</li>
        <li class="film__property">Original Title</li>
        <li class="film__property">Genre</li>
      </ul>
      <ul class="film__value-list">
        <li class="film__value">7.3 / 1260</li>
        <li class="film__value">100.2</li>
        <li class="film__value">A FISTFUL OF LEAD</li>
        <li class="film__value">Western</li>
      </ul>
    </div>
    <p class="film__about">about</p>
    <p class="film__narrative">
      Four of the Wests most infamous outlaws assemble to steal a huge stash of gold from the most
      corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the
      other three escapes with bags of gold hide out in the abandoned gold mine where they happen
      across another gang of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of gold are filled with
      lead... theyve been double crossed – but by who and how?
    </p>
    <ul class="film__add-list">
      <li class="film__watched-btn">add to Watched</li>
      <li class="film__queue-btn">add to Watched</li>
    </ul>
  </div>
</div>
