<div class="header">
  <div class="header__container container">
    <nav class="nav">
      <button type="button" class="logo">
        <svg class="logo__svg" width="24" height="24">
          <use href="/images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </button>
      <ul class="nav-list">
        <li class="nav-list__item">
          <button type="button" class="nav-list__btn nav-list__btn--active">home</button>
        </li>
        <li class="nav-list__item">
          <button type="button" class="nav-list__btn">my library</button>
        </li>
      </ul>
    </nav>
    <form action="" class="search">
      <label class="search__label">
        <input type="text" class="search__input" name="search-input" placeholder="Поиск фильмов" />
      </label>
      <button type="submit" class="search__btn">
        <svg class="search__svg" width="12" height="12">
          <use href="/images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <ul class="library-list is-hidden">
      <li class="library-list__item">
        <button type="button" class="library-list__btn">watched</button>
      </li>
      <li class="library-list__item">
        <button type="button" class="library-list__btn">queue</button>
      </li>
    </ul>
  </div>
</div>
