<div class="main">
  <div class="container">
    <ul class="film-list">
      <li class="film-list__item">
        <img
          src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
          alt=""
          class="film-list__image"
        />
        <p class="film-list__name">abracadabra</p>
        <p class="film-list__description">documentary, drama | 2019</p>
      </li>
      <li class="film-list__item">
        <img
          src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
          alt=""
          class="film-list__image"
        />
        <p class="film-list__name">abracadabra</p>
        <p class="film-list__description">documentary, drama | 2019</p>
      </li>
      <li class="film-list__item">
        <img
          src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
          alt=""
          class="film-list__image"
        />
        <p class="film-list__name">abracadabra</p>
        <p class="film-list__description">documentary, drama | 2019</p>
      </li>
      <li class="film-list__item">
        <img
          src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
          alt=""
          class="film-list__image"
        />
        <p class="film-list__name">abracadabra</p>
        <p class="film-list__description">documentary, drama | 2019</p>
      </li>
      <li class="film-list__item">
        <img
          src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
          alt=""
          class="film-list__image"
        />
        <p class="film-list__name">abracadabra</p>
        <p class="film-list__description">documentary, drama | 2019</p>
      </li>
      <li class="film-list__item">
        <img
          src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
          alt=""
          class="film-list__image"
        />
        <p class="film-list__name">abracadabra</p>
        <p class="film-list__description">documentary, drama | 2019</p>
      </li>
      <li class="film-list__item">
        <img
          src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
          alt=""
          class="film-list__image"
        />
        <p class="film-list__name">abracadabra</p>
        <p class="film-list__description">documentary, drama | 2019</p>
      </li>
    </ul>
  </div>
</div>
