<div class="main">
  <div class="container">
    <ul class="film-list">
      <li class="film-list__item">
        <div class="film-list__thumb">
          <img
            src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
            alt=""
            class="film-list__image"
          />
        </div>
        <p class="film-list__name">abracadabra</p>
        <div class="film-list__description">
          <p class="film-list__genre">documentary, drama | 2019</p>
          <p class="film-list__raiting">8.9</p>
        </div>
      </li>
      <li class="film-list__item">
        <div class="film-list__thumb">
          <img
            src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
            alt=""
            class="film-list__image"
          />
        </div>
        <p class="film-list__name">abracadabra</p>
        <div class="film-list__description">
          <p class="film-list__genre">documentary, drama | 2019</p>
          <p class="film-list__raiting">8.9</p>
        </div>
      </li>
      <li class="film-list__item">
        <div class="film-list__thumb">
          <img
            src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
            alt=""
            class="film-list__image"
          />
        </div>
        <p class="film-list__name">abracadabra</p>
        <div class="film-list__description">
          <p class="film-list__genre">documentary, drama | 2019</p>
          <p class="film-list__raiting">8.9</p>
        </div>
      </li>
      <li class="film-list__item">
        <div class="film-list__thumb">
          <img
            src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
            alt=""
            class="film-list__image"
          />
        </div>
        <p class="film-list__name">abracadabra</p>
        <div class="film-list__description">
          <p class="film-list__genre">documentary, drama | 2019</p>
          <p class="film-list__raiting">8.9</p>
        </div>
      </li>
      <li class="film-list__item">
        <div class="film-list__thumb">
          <img
            src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
            alt=""
            class="film-list__image"
          />
        </div>
        <p class="film-list__name">abracadabra</p>
        <div class="film-list__description">
          <p class="film-list__genre">documentary, drama | 2019</p>
          <p class="film-list__raiting">8.9</p>
        </div>
      </li>
      <li class="film-list__item">
        <div class="film-list__thumb">
          <img
            src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
            alt=""
            class="film-list__image"
          />
        </div>
        <p class="film-list__name">abracadabra</p>
        <div class="film-list__description">
          <p class="film-list__genre">documentary, drama | 2019</p>
          <p class="film-list__raiting">8.9</p>
        </div>
      </li>
      <li class="film-list__item">
        <div class="film-list__thumb">
          <img
            src="https://www.kino-teatr.ru/movie/poster/121596/88031.jpg"
            alt=""
            class="film-list__image"
          />
        </div>
        <p class="film-list__name">abracadabra</p>
        <div class="film-list__description">
          <p class="film-list__genre">documentary, drama | 2019</p>
          <p class="film-list__raiting">8.9</p>
        </div>
      </li>
    </ul>
  </div>
</div>
